body {
/* 	background-color: #505050; */
}
form{
	margin: 0 auto;
	border: 1px solid white;
	width : 300px;
}
#world-map-gdp {
	margin: 0 auto;
	border: 1px solid white;
}
.invalidP {
	background-color: #FB5E4D;
}
